label.active{
    text-align: left;
}

label{
    text-align: left;
    color: white;
}

recap{
    max-height: 50px !important;
}

.formulaire{
    border-radius: 25px;
    background-color: rgba(47, 48, 48, 0.250 ) !important;
    backdrop-filter: blur(1.8rem);
    margin-bottom: 3em;
}
