<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4 mx-0 px-0">

  <!-- Footer Links -->
  <div class="container text-center text-md-left px-0 mx-0 mx-auto">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3 px-0 mx-0">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 px-0">
        <h6 class="text-uppercase mb-4 font-weight-bold">Belor</h6>
        <p>Organisme de contrôle agréé et accrédité n°355-INSP</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none px-0 mx-0">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mt-3 px-0 mx-0">
        <h6 class="text-uppercase mb-4 font-weight-bold">Liens Rapides</h6>
        <p>
          <a routerLink="/tarifs">Tarifs</a>
        </p>
        <p>
          <a routerLink="/activites">Activités</a>
        </p>
        <p>
          <a routerLink="/formations">Formations</a>
        </p>
        <p>
          <a routerLink="/contact">Contact</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none px-0 mx-0">

      <div class="col-md-3 col-lg-3 col-xl-4 mt-3 px-0 mx-0">
        <h6 class="text-uppercase mb-4 font-weight-bold">Liens Utiles</h6>
        <div class="row">
          <a href="http://www.vccs.be/fr/" class="col-5" mdbWavesEffect>Vccs</a>
          <a href="http://energie.wallonie.be" class="col-5" mdbWavesEffect>Energie Wallonie</a>
          <a href="https://economie.fgov.be/fr/themes/energie" class="col-5"
            mdbWavesEffect>Mineco.fgov</a>
          <a href="http://www.ef4.be" class="col-5" mdbWavesEffect>Ef4</a>
          <a href="http://www.rexel.be" class="col-5" mdbWavesEffect>Rexel</a>
          <a href="http://www.belac.be" class="col-5" mdbWavesEffect>Belac</a>
          <a href="http://www.primagaz.be" class="col-5" mdbWavesEffect>Primagaz</a>
          <a href="http://www.cerga.be" class="col-5" mdbWavesEffect>Cerga</a>
          <a href="http://www.cwape.be" class="col-5" mdbWavesEffect>Cwape</a>
          <a href="http://www.gaznaturel.be" class="col-5" mdbWavesEffect>Gaz Naturel</a>
        </div>
      </div>

      <hr class="w-100 clearfix d-md-none px-0 mx-0">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <mdb-icon fas icon="home" class="mr-1"></mdb-icon> 20, rue de fonteny, 1370 Jodoigne
        </p>
        <p>
          <mdb-icon fas icon="envelope" class="mr-1"></mdb-icon> info@belor.be
        </p>
        <p>
          <mdb-icon fas icon="phone" class="mr-1"></mdb-icon> + 32 470 990 212
        </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center mx-0 px-0">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2022 Copyright:
          <a href="https://mdbootstrap.com/">
            <strong> Belor</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0 px-0 m-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm"  href="https://www.linkedin.com/company/belor1" class="rgba-white-slight mx-1" mdbWavesEffect>
                <mdb-icon fab icon="linkedin"></mdb-icon>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->