<!-- Nav Tabs -->
<mdb-tabset #staticTabs [vertical]="true" [buttonClass]="'md-tabs tabs-3'" [contentClass]="'card'">

    <!--Électriques domestiques-->
    <mdb-tab heading="Contrôle des installations électriques domestiques">
        <div class="row">
            <h3>Contrôle des installations électriques domestiques</h3>
            <p class="texte">Toute mauvaise installation peut avoir des répercussions graves au niveau de la sécurité
                des personnes et des biens. La réglementation a toujours imposé, que chaque installation électrique,
                fasse, avant sa mise en service, l&#8217;objet d&#8217;un contrôle de conformité.</p>
            <p>Les prescriptions de sécurité auxquelles doit satisfaire toute installation électrique domestique
                réalisée à partir du 1er octobre 1981 sont reprises dans le Règlement Général sur les Installations
                Electriques (RGIE) rendu obligatoire par l&#8217;arrêté royal du 10 mars 1981. Pour garantir dans le
                temps cette sécurité, le RGIE a imposé, un contrôle des installations électriques domestiques, tous les
                25 ans.</p>
            <p class="sous-titre-left"><strong>Domaine d’application</strong></p>
            <p class="texte">Les prescriptions faisant l&#8217;objet du RGIE sont applicables à:</p>
            <ol start="1" type="1">
                <li style="list-style-type: none;">
                    <ol start="1" type="1">
                        <li class="texte">soit une installation électrique composée d&#8217;une ou de plusieurs unités
                            d&#8217;installation :</li>
                    </ol>
                </li>
            </ol>
            <ol start="1" type="1">
                <li style="list-style-type: none;">
                    <ul type="circle">
                        <li class="texte">qui alimentent soit une unité d&#8217;habitation, soit une unité de travail
                            domestique, soit des parties communes d&#8217;un ensemble résidentiel, et qui appartiennent
                            à une seule et même personne physique ou morale, ou à un ensemble de copropriétaires;</li>
                        <li class="texte">soit un moyen de production d&#8217;énergie électrique et l&#8217;installation
                            qui desservent une unité d&#8217;habitation ou de travail domestique ou encore les parties
                            communes d&#8217;un ensemble résidentiel.</li>
                    </ul>
                </li>
            </ol>
            <p class="texte">Toute autre installation électrique est réputée non-domestique.</p>
            <p class="sous-titre-left"><strong>Demande de contrôles</strong></p>
            <p class="texte"><u>Examen de conformité des installations à basse tension avant mise en usage R.G.I.E. art.
                    270</u></p>
            <p class="texte">&#8211; Obligation pour toute installation à basse tension, même celle alimentée par une
                installation privée<br />
                &#8211; Contrôle de chantier, installation provisoire (validité 1 an).</p>
            <p class="texte"><u>Visite de contrôle des installations à basse tension R.G.I.E. art. 271</u></p>
            <p class="texte">&#8211; Tous les 25ans pour les installations domestiques<br />
                &#8211; Tous les 13 mois pour les installations foraines<br />
                &#8211; Dérogations voir article 271bis du RGIE</p>
            <p class="texte"><u>Visite de contrôle des installations à basse tension avant tout renforcement de la
                    puissance de raccordement au réseau public de distribution d’électricité R.G.I.E. art.276</u></p>
            <p class="texte">&#8211; Dérogations voir article 278 du R.G.I.E</p>
            <p class="texte"><u>Visite de contrôle lors de tout transfert de propriété A.R. du 01/04/2006 R.G.I.E
                    art.276bis</u></p>
            <p class="texte">-Dérogations voir article 278 du R.G.I.E</p>
            <p><span class="sous-titre-left">Documents à mettre à disposition pour le contrôle</span></p>
            <ul type="disc">
                <li class="texte">Une copie du rapport précédent s’il existe</li>
                <li class="texte">le schéma unifilaire de l&#8217;installation électrique;</li>
                <li class="texte">le schéma de position des éléments de l&#8217;installation électrique;</li>
                <li class="texte">le code EAN est l&#8217;abréviation de «European Article Numbering». Il s&#8217;agit
                    d&#8217;un code composé de 18 chiffres identifiant le raccordement de l&#8217;installation
                    électrique repris sur la facture.</li>
            </ul>
            <p><span class="sous-titre-left"><strong>Réglementation en six questions</strong></span></p>
            <p class="texte">Source : SPF Economie, PME, Classes moyennes et Energie</p>
            <ul>
                <li class="texte">Quelle réglementation impose un contrôle tous les 25 ans de l’installation électrique
                    domestique?</li>
            </ul>
            <p class="texte">R. L’article 271 du R.G.I.E., Arrêté Royal du 10.03.1981, Moniteur du 30.03.1981</p>
            <ul>
                <li class="texte">Pour quelles installations domestiques le contrôle périodique de 25 ans est-il
                    d’application?</li>
            </ul>
            <p class="texte">R. Pour les installations ou parties d’installation dont l’exécution a été entamée après le
                1er octobre 1981. Pour les installations plus anciennes et dans la mesure où<br />
                votre installation n&#8217;a pas subi de changement important ou d’extension notable,<br />
                la réglementation ne prévoit pas de contrôles périodiques</p>
            <ul>
                <li class="texte">J’ai une ancienne installation, d’avant le 1er octobre 1981, que dois-je faire et
                    suis-je concerné par la revisite des installations?</li>
            </ul>
            <p class="texte">R. Pour les installations dont l’exécution a été entamée avant le 1er octobre 1981<br />
                et dans la mesure où votre installation n&#8217;a pas subi de changement important<br />
                ou d’extension notable, la réglementation ne prévoit pas de contrôles périodiques.<br />
                Toutefois, il vous est conseillé de veiller au respect des principes élémentaires<br />
                de sécurité et d’équiper votre installation d’un certain nombre de dispositifs de sécurité. Donc en cas
                de doute, faites contrôler votre installation.</p>
            <ul>
                <li class="texte">Quand, au plus tard, l&#8217;installation doit-elle être contrôlée  si par exemple
                    l&#8217;examen de conformité (examen effectué après la réalisation de l’installation) a eu lieu le 4
                    novembre 1981?</li>
            </ul>
            <p class="texte">R. Le contrôle devra avoir lieu au terme du délai de 25 ans compté à partir du
                dernier<br />
                contrôle de l’installation. Donc pour l’exemple repris, une visite de contrôle devra<br />
                avoir lieu avant le 4 novembre 2006.</p>
            <ul>
                <li class="texte">Quelles sont les conséquences juridiques si le contrôle après 25 ans n&#8217;est pas
                    effectué?</li>
            </ul>
            <p class="texte">R. Un bien doit répondre aux exigences élémentaires de sécurité, de salubrité et<br />
                d’habitabilité. En plus, le fait de ne pas effectuer un contrôle après 25 ans<br />
                constitue une infraction aux dispositions du RGIE. Les infractions aux dispositions<br />
                de ce Règlement sont punissables conformément aux dispositions de la loi du<br />
                10 mars 1925 sur les distributions d&#8217;énergie électrique</p>
            <ul>
                <li class="texte">Peut-on modifier une installation sans tomber sous la réglementation du RGIE?</li>
            </ul>
            <p class="texte">R. Dès qu’une modification importante ou une extension notable est réalisée<br />
                Ex. l’ajout d’un circuit, cette modification ou extension est soumise au  RGIE (art. 270    RGIE)</p>
            <h2 class="texte"><span class="sous-titre-left">PDF à télécharger :</span></h2>
            <ol>
                <li><a href="https://belor.be/wp/wp-content/uploads/2020/05/Livre1_Basse-tension.pdf">Règlement général
                        sur les installations électriques à basse et très basse tension (A.R. du 8/09/2019, Livre 1
                        applicable à la date du 1 juin 2020)</a></li>
                <li class="texte">Exemples de modèles vierges de schéma unifilaire et schéma de position<br />
                    <a href="https://www.belor.be/documents/pdf/schema%20unifilaire.pdf" target="_blank"
                        rel="noopener noreferrer">Schéma unifilaire </a><br />
                    <a href="https://www.belor.be/documents/pdf/schema%20de%20position.pdf" target="_blank"
                        rel="noopener noreferrer">Schéma de position</a>
                </li>
                <li class="texte">Liste des gestionnaires de reseau de distribution d&#8217;électricité<br />
                    <a href="https://www.belor.be/documents/xls/rechercher_son_gestionnaire_reseau_distribution_electricite.xls"
                        target="_blank" rel="noopener noreferrer">Liste</a>
                </li>
            </ol>
        </div>
    </mdb-tab>

    <!--Électriques industrielles-->
    <mdb-tab heading="Contrôle des installations électriques industrielles">
        <div class="row">
            <h3>Arrêté royal du 04 décembre 2012</h3>
            <p>
                Un nouvel arrêté royal (AR) du 4 décembre 2012 fixe les prescriptions minimales de sécurité des
                installations électriques sur les lieux de travail. Il s’applique aux employeurs et aux travailleurs.
            </p>
            <p>
                Cet AR va plus loin que celui de 2008 car il est d’application aussi bien sur les anciennes que sur les
                nouvelles installations. Il rentre en application à partir du 4 décembre 2012.</p>
            <p>
                On entend par ancienne installation électrique, une installation électrique dont la réalisation sur
                place a été entamée :
            </p>
            <ol>
                <li>
                    le 1 octobre 1981 au plus tard pour les installations électriques des établissements n'ayant pas de
                    service électrique composé de personnes averties ou qualifiées qui disposent des compétences
                    caractérisées
                    par le code BA4 ou BA5, comme défini à l'article 47 du RGIE;</li>
                <li>
                <li>
                    le 1 janvier 1983 au plus tard pour les autres installations
                </li>
            </ol>
            <p>
                Les grandes lignes de cette nouvelle réglementation sont les suivantes :
            </p>
            <ul>
                <li>
                    Pour chaque installation électrique, l’employeur est tenu d’effectuer une analyse de risque et de
                    prendre des mesures de prévention pour la protection des travailleurs
                </li>
                <li>
                    L’exécution de chaque installation électrique doit satisfaire au moins aux dispositions du RGIE
                    (Pour les anciennes installations, des dérogations sont d’applications et définies dans l’AR.)
                </li>
                <li>
                    Les anciennes installations font l’objet d’un premier contrôle qui doit être effectué au plus tard
                    le 1er janvier 2014.
                </li>
                <li>
                    L’analyse de risque et les mesures prises en conséquence doivent être réalisées pour le 1 décembre
                    2014 pour les anciennes installations. La conformité de ces anciennes installations doit être
                    obtenue pour le 31 décembre 2016. Il y a la possibilité de dépasser cette date avec un délai maximum
                    de 2 ans et sur base d’un plan détaillé d’exécution.
                </li>
                <li>
                    L'employeur assure la formation nécessaire des travailleurs et il leur fournit les instructions
                    nécessaires en vue d'éviter les risques inhérents à l'utilisation, à l'exploitation et aux travaux
                    d'installation électrique, tenant compte des missions dont ces travailleurs sont chargés. (Annexe I
                    : Formation BA4/BA5)
                </li>

            </ul>
            <h3>Analyse de risque et mesures de prévention</h3>
            <p>
                L’analyse de risques consiste à vérifier les prescriptions minimales de sécurité de l’installation
                électrique et d’évaluer les risques liés à l’utilisation de l’installation électrique en prenant les
                mesures nécessaire afin que l’installation électrique soie réalisée, exploitées et maintenue en bon état
                de façon à protéger les travailleurs efficacement contre les risques liées à l’électricité. Pour ce
                faire, L'employeur tient également compte des dispositions concernant les équipements de travail.
                (Annexe II : Assistance à la mise en conformité des équipements de travail)
            </p>
            <ul>
                <li>les risques de chocs électriques par contact direct;</li>
                <li>les risques de chocs électriques par contacts indirects;</li>
                <li>les risques dus aux décharges et aux arcs;</li>
                <li>les risques dus à la propagation du potentiel;</li>
                <li>les risques dus à l'accumulation de l'énergie, comme dans les condensateurs;</li>
                <li>les risques dus aux surtensions notamment suite aux défauts pouvant intervenir entre les parties
                    actives de circuits de tensions différentes, aux manœuvres et aux influences atmosphériques;</li>
                <li>les risques de surchauffe, de brûlures, d'incendie et d'explosion causés par l'équipement
                    électrique;(Annexe III : Inspection par thermographie)</li>
                <li>les risques dus aux surintensités;</li>
                <li>les risques dus à une baisse de tension et à la réapparition de celle-ci;</li>
                <li>les risques inhérents à l'utilisation de l'énergie électrique et aux travaux d'installations
                    électriques;</li>
            </ul>
        </div>
    </mdb-tab>

    <!--Paratonnerres-->
    <mdb-tab heading="Contrôle des installations paratonnerres">
        <div class="row">
            <h3>Contrôle des installations paratonnerres</h3>
            <p class="texte">Notre contrôle consiste à vérifier  l’application des prescriptions de la norme NBN C18-100
                (pour les installations réalisées avant le 2 février 2009) et la norme  NBN EN 62305 (pour les
                installations réalisées après le 2 février 2009): ce code de bonne pratique concerne la conception,
                l’établissement et l’entretien d’installations de paratonnerres.</p>
            <p class="texte"><strong><u>Analyse de risque :</u></strong> Pour les nouvelles installations il y a lieu de
                faire une analyse de risque afin de déterminer le niveau de protection.</p>
            <table border="1" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td class="texte" colspan="5" valign="top" width="703" height="45">Suivant la Norme NBN EN 62305
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="120" height="55">
                            <p class="texte">Evaluation</p>
                        </td>
                        <td valign="top" width="84">
                            <p class="texte">Niveau de protection</p>
                        </td>
                        <td valign="top" width="60">
                            <p class="texte">Valeur</p>
                        </td>
                        <td valign="top" width="144">
                            <p class="texte">Rayon de la sphère fictive en m</p>
                        </td>
                        <td valign="top" width="295">
                            <p class="texte">Distance maximum de séparation des descentes et dimension des mailles</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="120" height="63"></td>
                        <td rowspan="4" valign="top" width="84">
                            <p class="texte" align="center">Déterminé d’après l’analyse de risque NPF</p>
                        </td>
                        <td valign="top" width="60">
                            <p class="texte" align="center">IV</p>
                        </td>
                        <td valign="top" width="144">
                            <p class="texte">60</p>
                        </td>
                        <td valign="top" width="295">
                            <p class="texte">20 mètres (H. bâtiment inférieure à 25 m) et 20 X 20 pour le maillage</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="120" height="60"></td>
                        <td valign="top" width="60">
                            <p class="texte" align="center">III</p>
                        </td>
                        <td valign="top" width="144">
                            <p class="texte">45</p>
                        </td>
                        <td valign="top" width="295">
                            <p class="texte">15 mètres (H. bâtiment de 25 m à 50 m) et 15 X 15 pour le maillage</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="120" height="59"></td>
                        <td valign="top" width="60">
                            <p class="texte" align="center">II</p>
                        </td>
                        <td valign="top" width="144">
                            <p class="texte">30</p>
                        </td>
                        <td valign="top" width="295">
                            <p class="texte">10 mètres  (H. bâtiment supérieur à 50 m) et 10 X 10 pour le maillage</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="120"></td>
                        <td valign="top" width="60">
                            <p class="texte" align="center">I</p>
                        </td>
                        <td valign="top" width="144">
                            <p class="texte">20</p>
                        </td>
                        <td valign="top" width="295">
                            <p class="texte">10 mètres : structure avec risque explosion et 5 x 5 pour le maillage</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="texte"><strong><u>But </u>:</strong> La protection externe des structures est assurée par un
                dispositif de captage, cage maillée de Faraday correctement mise à la terre. Le pas du maillage d’une
                dizaine de mètres, ou d’avantage, est choisi inférieur à la distance d’amorçage, elle-même liée au
                courant de foudre présumé. Quel que soit l’angle d’approche du précurseur (‘’leader’’), on s’arrange
                pour que ce dernier ‘’voie’’ tout au long de sa trajectoire, au moins une partie métallique du
                dispositif de captage.</p>
            <p class="texte"><strong><u>Contrôle</u> : </strong>avant mise en service et lors de modifications
                importantes</p>
            <p class="texte"><strong><u>Périodicité : </u></strong>Conseillé tous les 2 ans.</p>
            <p class="texte">Une installation de paratonnerres consiste essentiellement en un dispositif de captage
                destiné à recevoir les coups de foudre directs et en une installation de mise à la terre destinée à
                véhiculer les courants de décharge vers la terre. Dans une installation bien conçue, il est fait en
                sorte que le bâtiment à protéger se trouve entièrement dans le zone de protection offerte par le
                dispositif de captage est telle que la probalité de coup de foudre direct  sur le bâtiment à protéger
                soit réduite au minimum, c&#8217;est-à-dire que la foudre s’écoule vers la terre par le chemin prescrit.
            </p>
            <p class="texte">On ne pourrait trop insister sur les dangers de prises de terre déficientes. Celles-ci
                doivent manifester une résistance minimale, mais aussi et surtout une inductance aussi faible que
                possible, les raideurs importantes des courants de foudre engendrant des surtensions réfléchies au
                niveau du sol. Il faut également tenir compte de la présence de potentiels déphasés (tension de pas)
                autour du point d’impact de l’éclair.<br />
                &#8211; Une protection particulièrement soignée s’impose pour les bâtiments contenant des matières
                inflammables, déflagrants ou explosifs</p>
            <p class="sous-titre-left"><u>Paratonnerres radioactifs</u></p>
            <p class="texte">A.R. du 24/01/2006 – M.B. 20/02/2006: Règlement général de la protection de la population,
                des travailleurs et de l’environnement contre le danger des rayonnements ionisants.<br />
                L’installation de capteurs paratonnerres radioactifs sont interdits depuis 1985 pour leur dangerosité et
                leur innefficacité. Ceux-ci doivent être éliminés par une société agréée.</p>
            <p class="texte">Dans les années &#8217;80, plusieurs milliers de paratonnerres munis de plusieurs sources
                radioactives telles que le radium 226, l’americium  241 ou le krypton 85 ont été installés en
                Belgique.<br />
                Ils l’ont été de préférence sur des constructions hautes, comme des immeubles, des clochers et des
                pylônes afin de permettre une plus grande surface de protection  contre la foudre des habitations
                environnantes. Certains furent aussi placés sur des habitations privées.</p>
            <p class="texte">Aujourd’hui de nombreux propriétaires ou locataires ne sont pas toujours informés de cette
                installation sur leur toit. Ces paratonnerres ont plus de 25 ans, n’ont pas été entretenus et sont pour
                la majorité dans un état déplorable provoquant une dispersion dangereuse de particules radioactives dans
                l’environnement.</p>
            <p class="texte"><u><strong>Analyse de risque</strong></u> : Leur enlèvement nécessite la présence d’une
                personne spécialisée et l’installation d’une nacelle qui dépasse parfois la hauteur d’une échelle des
                pompiers. Ces paratonnerres vétustes peuvent tomber et occasionner des dégâts.<br />
                Leur manipulation est dangereuse et l’ONDRAF (organisation des déchets radioactifs) exige leur
                enlèvement par un professionnel dans un délai précis sous peine de procédure judiciaire.</p>
            <p class="sous-titre-left"><u>La foudre</u></p>
            <p class="texte">La foudre est une décharge électrique d’origine atmosphérique. L’éclair, phénomène optique
                visualisant les mécanismes de la décharge, se produit indifféremment entre parties de polarités opposées
                d’un même nuage, ou de nuages voisins, ou encore, entre un nuage chargé (cumulonimbus) et le sol.</p>
            <p class="texte">Pour voir en image la foudre qui tombe sur un bâtiment voir le site :<br />
                <a
                    href="http://www.youtube.com/watch?v=j380XJJyhEg&amp;feature=related">http://www.youtube.com/watch?v=j380XJJyhEg&amp;feature=related</a>
            </p>
        </div>
    </mdb-tab>

    <!--Photovoltaïques-->
    <mdb-tab heading="Contrôle des panneaux photovoltaïques">
        <div class="row">
            <p>Notre contrôle consiste à vérifier  la conformité aux prescriptions du R.GI.E. (article 270 du
                R.G.I.E.) : Examen de conformité en cas de modification importante ou d’augmentation notable de
                l’installation existante.</p>
            <p>Pour les installations électriques domestiques, l’ajout d’un circuit est considéré comme une augmentation
                notable de l’installation existante. Le raccordement d’un système photovoltaïque sur le réseau
                électrique d’un bâtiment est considéré comme une modification importante de celui-ci.<br />
                Cet examen de conformité est limité à la partie ajoutée ou modifié de l’installation.</p>
            <p>Si des infractions sont constatées lors du contrôle sur la partie  existante de l’installation électrique
                (Défauts d’isolements d’autres circuits, risques de contacts directs dans le tableau électrique, section
                des conducteurs insuffisantes,&#8230;&#8230;&#8230;.) les infractions sont repris sur le PV de visite et
                les travaux nécessaires pour faire disparaître les infractions constatées pendant la visite de contrôle,
                doivent être exécutés sans retard et toutes mesures adéquates doivent être prises pour qu’en cas de
                maintien en service des installations, les infractions ne constituent pas un danger pour les personnes
                et les biens. Une visite complémentaire est à exécuter par le même organisme avant un délai de un an
                pour vérifier la levée des remarques.</p>
            <p>Si l’installation électrique est d’une vétusté apparente et que le propriétaire ne peut  démontrer
                qu’elle a été contrôlée depuis moins de 25 ans, nous demanderons le contrôle de l’entièreté de
                l’installation électrique. L&#8217;état de l&#8217;installation électrique existante est donc un élément
                important à prendre en compte.</p>
            <p>Dans le cas des systèmes connectés au réseau, l’inspecteur  va notamment vérifier la présence d’un
                disjoncteur après l’onduleur (coté courant alternatif) qui permet de déconnecter manuellement
                l’installation photovoltaïque du réseau électrique du bâtiment. Même s’il ne fait pas l’objet d’un
                contrôle, il est aussi vivement conseillé de placer un sectionneur (spécifique pour le courant continu),
                avant l’onduleur pour garantir la sécurité des personnes qui seraient amenées à travailler sur le
                système photovoltaïque ou tout simplement sur le toit et/ou de placer l’onduleur le plus près des
                panneaux photovoltaïques.</p>
            <p><span style="font-weight: bold;"><a href="../../documents/pdf/Panneaux photovoltaiques.pdf"
                        target="_blank" rel="noopener noreferrer">Contrôle des panneaux photovoltaïques à basse tension
                        de faible puissance</a></span></p>
            <p><u>Documents utiles pour une installation de panneaux photovoltaïques</u></p>
            <ol>
                <li><a href="../../documents/pdf/Demande Prime_Formulaire 19.pdf" target="_blank"
                        rel="noopener noreferrer">Installation d’un sytème photovoltaïque &#8211; demande de prime :</a>
                </li>
                <li><a href="../../documents/pdf/Demande Prime_Formulaire 19_annexe.pdf" target="_blank"
                        rel="noopener noreferrer">Demande de prime : Annexe technique 19 :</a></li>
                <li><a href="../../documents/pdf/note_certificats_verts_et_labels_garantie_origine.pdf" target="_blank"
                        rel="noopener noreferrer">Note sur les certificats verts et les labels de garantie d’origine
                        :</a></li>
                <li><a href="../../documents/pdf/prescriptions_techniques_raccordement_reseau.pdf" target="_blank"
                        rel="noopener noreferrer">SYNERGRID C10/11 : Prescriptions techniques pour le raccordement au
                        reseau de distribution :</a></li>
                <li><a href="../../documents/xls/rechercher_son_gestionnaire_reseau_distribution_electricite.xls"
                        target="_blank" rel="noopener noreferrer">Rechercher son gestionnaire de reseau de distribution
                        d&#8217;électricité : </a></li>
            </ol>
            <p>&nbsp;</p>
        </div>
    </mdb-tab>

    <!--PEB-->
    <mdb-tab heading="Certificat de performance énergétique - PEB">
        <div class="row">
            <h3>Certificat de performance énergétique - PEB</h3>
            <p class="sous-titre">1er juin 2010 : pensez à votre certificat de performance énergétique !</p>
            <p class="texte">Dès le 1er juin 2010, la certification de la performance énergétique des bâtiments
                résidentiels existants entre en vigueur ! Il s’agit d’une mesure importante qui renforce l’information
                des acheteurs quant à la qualité énergétique du bien à acquérir.</p>
            <p class="texte">Pour faciliter la vie à chacun et permettre l’assimilation progressive des obligations
                nouvelles qui pèsent tant sur les vendeurs que sur les professionnels, le Gouvernement wallon a veillé à
                instaurer une période de tolérance.</p>
            <p class="texte"><strong><em>En pratique</em></strong><br />
                La nouvelle réglementation connaîtra donc une montée en puissance :</p>
            <p class="texte"><u>Entre le 1er juin 2010 et le 30 décembre 2010</u></p>
            <p>Les ventes de maisons unifamiliales dont la date de l’accusé de réception de la première demande de
                permis est comprise entre le 1er décembre 1996 et le 30 avril 2010 seront seules concernées.<br />
                Le certificat PEB y sera obligatoire pour les ventes faisant l’objet d’un compromis et d’un acte signés
                après le 1er juin. Les ventes publiques volontaires, à caractère judiciaire ou non, ne seront pas pour
                leur part concernées par cette obligation.<br />
                Durant cette période également, les audits PAE qui seront réalisés et terminés vaudront certificat PEB
                pendant 5 années à partir de la date du rapport d’audit.</p>
            <p class="texte"><u>Dès le 31 décembre 2010</u></p>
            <p>Toutes les ventes de maisons unifamiliales, y compris les ventes publiques volontaires, seront concernées
                par l’obligation de posséder un certificat valide.</p>
            <p class="texte"><u>Au 1er juin 2011</u></p>
            <p>Tous les bâtiments résidentiels seront concernés, et ce pour tout acte déclaratif, constitutif ou
                translatif d’un droit réel, à l’exclusion de l’hypothèque, de l’antichrèse, des actes involontaires, des
                actes de partage pour sortir d’une indivision successorale ou en cession de droits indivis, avec ou sans
                effet déclaratif, et, pour tout acte qui confère un droit personnel de jouissance.</p>
            <p class="titre">Lien utile:</p>
            <p class="texte"><a href="http://energie.wallonie.be/fr/index.html?IDC=6018" target="_blank"
                    rel="noopener noreferrer">http://energie.wallonie.be/fr/</a></p>
            <p class="titre">Documents utiles:</p>
            <p class="texte"><strong><em>PDF à télécharger: </em></strong><a
                    href="../../documents/pdf/directive_europeenne-2002-91-peb.pdf" target="_blank"
                    rel="noopener noreferrer">Directive Europeenne-2002-91-PEB</a></p>
            <p class="texte"><strong><em>PDF à télécharger: </em></strong><a
                    href="../../documents/pdf/deroulement-de-la-certification-energetique-peb-de-votre-batiment.pdf"
                    target="_blank" rel="noopener noreferrer">Déroulement de la certification énergétique peb de votre
                    bâtiment</a></p>

        </div>
    </mdb-tab>

    <!-- GAZ -->
    <mdb-tab heading="Contrôle des installations gaz BT domestiques">
        <h3>Contrôle des installations gaz BT domestiques</h3>
        <p class="sous-titre">Domaine d’application</p>
        <p>Les prescriptions faisant l&#8217;objet des normes sont applicables à une installation gaz composée
            d&#8217;une ou de plusieurs unités d&#8217;installation :</p>
        <ul>
            <ul>
                <li>qui alimentent soit une unité d&#8217;habitation, soit une unité de travail domestique, soit des
                    parties communes d&#8217;un ensemble résidentiel,</li>
                <li>et qui appartiennent à une seule et même personne physique ou morale, ou à un ensemble de
                    copropriétaires;</li>
            </ul>
        </ul>
        <p class="sous-titre">Demande de contrôles</p>
        <p><span style="color: #3366ff; font-weight: bold;">Contrôle de conformité d’installations intérieures basse
                pression alimentées en gaz naturel, suivant les prescriptions des normes suivantes : NBN D 51-003, NBN B
                61-002 </span></p>
        <ul>
            <li>Examen de conformité pour l’ouverture du compteur &#8211; art 48 de l’AR du 28/06/1971</li>
            <li>Examen de conformité pour une extension ou modification de l’installation intérieure &#8211; art 48 de
                l’AR du 28/06/1971</li>
            <li>Visite de contrôle périodique d’une installation existante conseillé tous les 5 ans</li>
            <li>Visite de contrôle de l’étanchéité de l’installation existante</li>
            <li>Pré-visite pour effectuer le calcul de la perte de charge de l’installation</li>
        </ul>
        <p class="sous-titre">Documents à mettre à disposition pour le contrôle</p>
        <ul>
            <li>Une copie du rapport précédent s’il existe</li>
            <li>Le schéma isométrique</li>
            <li>Le calcul de la perte de charge</li>
        </ul>
        <p class="sous-titre">Questions fréquentes</p>
        <p><strong>Dois-je toujours placer un robinet de gaz lors de l&#8217;extension d&#8217;une installation
                gaz?</strong></p>
        <p>Le § 4.4.1 de la norme NBN D 51-003 stipule qu’un robinet de sectionnement doit être placé au début de chaque
            extension.</p>
        <p>Au moment de la construction ou d’adapter une installation intérieure, il convient de vérifier à ce que l’on
            installe assez de vannes afin de pouvoir couper l’installation intérieure, ou une partie de celle-ci. Un
            robinet de sectionnement permet de tester séparément la nouvelle partie de l’installation. Le robinet de
            sectionnement permet également de tirer rapidement une conclusion lors de la recherche d’une fuite de gaz
        </p>
    </mdb-tab>

    <!--Thermographie-->
    <mdb-tab heading="Thermographie">
        <h3>Thermographie</h3>
        <p><img class="main_images" src="../../images/thermo_1.png" width="300" height="225" /><br />
            Ce que l&#8217;œil humain ne sait pas voir, la caméra thermique le peut.<br />
            Nos inspections thermographiques vous permettront de</p>
        <ul>
            <li><strong>cibler les défauts</strong> de votre installation, là où il y a des points de chauffe
                précurseurs d&#8217;incendie.</li>
            <li>avoir <strong>un rapport détaillé</strong> des photos thermiques ainsi que les causes et solutions pour
                éviter que l&#8217;échauffement ne perdure.</li>
            <li><strong>réduire fortement les risques</strong> de début d&#8217;incendie et de voir votre production
                arrêtée.</li>
        </ul>
        <p class="menu">Avantage financier</p>
        <p><strong>Prévention électrique</strong></p>
        <p>Les cas de début d’incendie lié à des défauts de l’installation électrique sont fréquents. Câbles mal posés,
            mauvais contacts, usure de disjoncteurs,&#8230; Tous sont autant de dangers à éviter</p>
        <p><img src="../../images/thermo_2.jpg" width="250" height="190" /><img src="../../images/thermo_3.jpg"
                width="250" height="190" /></p>
        <p>(Thermogramme et photo d’un défaut sur une installation électrique)</p>
        <p><strong><u>En faisant réaliser régulièrement des inspections thermiques de vos installations électriques,
                    vous pourrez éviter ces dangers.</u></strong><br />
            Un certificat de conformité thermique de vos installations électriques sera délivré par nos soins, vous
            donnant droit à une <strong>réduction de la prime d’assurance</strong>.</p>
        <p><strong>Prévention mécanique</strong><br />
            Arbres moteurs, machines de productions, … sont autant d’éléments soumis a des contraintes mécaniques avec
            risque de surchauffe.</p>
        <p><img src="../../images/thermo_4.png" width="320" height="240" /><img src="../../images/thermo_5.png"
                width="320" height="240" /></p>
        <p class="sous-titre">Bâtiment</p>
        <p><strong><em>Enveloppe thermique</em></strong></p>
        <p><img src="../../images/thermo_6.png" width="273" height="176" /></p>
        <p><strong>Une bonne isolation avec le moins de pertes possible est devenu un point d’attention de tous
                aujourd’hui.</strong></p>
        <p>Auditeurs énergétiques, particuliers à la recherche des déperditions de chaleur dans votre bâtiment, Belor a
            une solution pour les diagnostiquer. Nous proposons nos services dans la détection de ces déperditions
            énergétiques.</p>
        <p class="menu">Avantage fiscale</p>
        <p>Pour tout contrôle thermographique dans le cadre de l’isolation d’un bâtiment, la région wallone rembourse
            <strong>la moitié du prix </strong>du contrôle avec un seuil maximum à 200 euros.</p>
        <p>Pour tout contrôle thermographique dans le cadre de l’isolation d’un bâtiment, la région wallone rembourse
            <strong>la moitié du prix </strong>du contrôle avec un seuil maximum à 200 euros.</p>
        <p>Renseignement complémentaire :<br />
            Envoyer un e-mail <a href="https://belor.be/wp/#nous-contacter">via ce formulaire</a> ou téléphoner au
            <strong>010/45.41.06</strong></p>
        <p><a href="../../documents/doc/Thermographie_site_internet.docx" target="_blank"
                rel="noopener noreferrer">Document explicatif</a></p>
    </mdb-tab>

</mdb-tabset>