<!-- Mask & flexbox options-->
<div class=" d-flex justify-content-center align-items-center backimg">
  <!-- Content -->
  <div class="container">
    <!--Grid row-->
    <div class="row pt-lg-5 mt-lg-5">
      <!--Grid column-->
      <div class="container my-5 py-5 white-text">
        <div class="col-7">
          <h1 class="display-5 font-weight-bold bleu rouge">Liens</h1>

        

            <a href="energie.wallonie.be" class="list-group-item waves-light" mdbWavesEffect>Energie Wallonie</a>
            <a href="www.just.fgov.be" class="list-group-item waves-light" mdbWavesEffect>Just.fgov</a>
            <a href="www.vccs.be" class="list-group-item waves-light" mdbWavesEffect>Vccs</a>
            <a href="www.mineco.fgov.be/energy/home_fr.htm" class="list-group-item waves-light"
              mdbWavesEffect>Mineco.fgov</a>
            <a href="www.ef4.be" class="list-group-item waves-light" mdbWavesEffect>Ef4</a>
            <a href="www.rexel.be" class="list-group-item waves-light" mdbWavesEffect>Rexel</a>
            <a href="www.belac.be" class="list-group-item waves-light" mdbWavesEffect>Belac</a>
            <a href="www.primagaz.be" class="list-group-item waves-light" mdbWavesEffect>Primagaz</a>
            <a href="www.cerga.be" class="list-group-item waves-light" mdbWavesEffect>Cerga</a>
            <a href="www.gaznaturel.be" class="list-group-item waves-light" mdbWavesEffect>Gaz Naturel</a>
            <a href="www.cwape.be" class="list-group-item waves-light" mdbWavesEffect>Cwape</a>

        

        </div>
      </div>
    </div>
  </div>
</div>