

a {
    background-color: #06087A !important;
    border-radius:22px !important;
    margin:0.4em;
    padding: 0.5em;
    box-shadow: 0 6 6 0 black !important;
    color: white;
}

a:hover {
    background-color: #050652 !important;

}

