<body class="bg">
  <!--Navbar-->
  <app-navbar></app-navbar>
  <!-- Navbar -->
  <!-- Mask & flexbox options-->
  <div class=" d-flex justify-content-center align-items-center backimg">
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row pt-lg-5 mt-lg-5">
        <!--Grid column-->
        <div class="container my-5 py-5 white-text">
          <div class="col-7">
            <h1 class="display-4 font-weight-bold bleu rouge">Liens</h1>

            <div class="list-group">

              <a href="energie.wallonie.be" class="list-group-item waves-light" mdbWavesEffect>energie.wallonie.be</a>
              <a href="www.just.fgov.be" class="list-group-item waves-light" mdbWavesEffect>www.just.fgov.be</a>
              <a href="www.vccs.be<" class="list-group-item waves-light" mdbWavesEffect>www.vccs.be</a>
              <a href="mineco.fgov.be/energy/home_fr.htm" class="list-group-item waves-light" mdbWavesEffect>mineco.fgov.be/energy/home_fr.htm</a>
              <a href="www.ef4.be" class="list-group-item waves-light" mdbWavesEffect>www.ef4.be</a>
              <a href="www.rexel.be" class="list-group-item waves-light" mdbWavesEffect>www.rexel.be</a>
              <a href="www.belac.be" class="list-group-item waves-light" mdbWavesEffect>www.belac.be</a>
              <a href="www.primagaz.be" class="list-group-item waves-light" mdbWavesEffect>www.primagaz.be</a>
              <a href="www.energie.wallonie.be" class="list-group-item waves-light" mdbWavesEffect>www.energie.wallonie.be</a>
              <a href="www.cerga.be" class="list-group-item waves-light" mdbWavesEffect>www.cerga.be</a>
              <a href="www.gaznaturel.be" class="list-group-item waves-light" mdbWavesEffect>www.gaznaturel.be</a>
              <a href="www.cwape.be" class="list-group-item waves-light" mdbWavesEffect>www.cwape.be</a>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</body>
