<mdb-tabset #staticTabs [vertical]="true" [buttonClass]="'md-tabs tabs-3'" [contentClass]="'card'">

    <!--Santé et sécurité-->
    <mdb-tab heading="Mission de coordinateur santé et sécurité">
        <h3 class="bleu">Mission de coordinateur santé et sécurité</h3>
        <p>La
            coordination sécurité et santé sur chantier, qu’est-ce que c’est ?</p>
        <p>La coordination sécurité et santé sur chantier a pour but de coordonner un chantier afin de prévenir les
            différents risques propres à ce chantier en mettant en place toute une série de mesures qui vont permettre
            de prévenir les risques liés au chantier lui-même, au chantier sur son environnement et à l’environnement
            sur le chantier.</p>
        <p>La coordination sécurité et santé sur chantier, régie par l’Arrêté Royal du 25 janvier 2001, est obligatoire
            pour tous les travaux de construction dont l’exécution requiert l’intervention simultanée ou successive d’au
            moins deux entrepreneurs, et ce tant pendant la phase de conception du projet que pendant les travaux
            eux-mêmes. Dès lors que les travaux de construction sont effectués par au moins deux entrepreneurs
            distincts, la coordination s’applique, quels que soient la nature, la superficie, l’importance, le degré de
            risque ou le coût des travaux. Et ce, aussi bien en cas de travaux de construction pour des particuliers que
            pour des entreprises.</p>
        <p>La coordination sécurité et santé s’organise en 2 phases :</p>
        <p class="sous-titre-left">La phase projet ou élaboration :</p>
        <p>Il s’agit d’identifier, dés l’élaboration du projet, les différents risques auxquels il va falloir faire face
            lors de la phase réalisation et d’organiser l’activité de manière à diminuer les risques, voir des les
            éliminer. Il s’agira par exemple de réorganiser le planning de manière à éviter les coactivités, de
            favoriser l’utilisation de matériaux pré-assemblés dans un cadre adéquat plutôt que sur le chantier, de
            mettre en place des protections collectives sur les matériaux avant de les mettre en œuvre, de manière à ce
            qu’une fois placé, ceux-ci garantissent la sécurité des travailleurs…</p>
        <p>Contractuellement, le coordinateur a différentes obligations durant cette phase. Tout d’abord, coordonner et
            organiser le chantier en concertation avec le maître d’ouvrage, l’architecte et le maître d’œuvre ou
            entrepreneur une fois désignés.</p>
        <p>Analyser les différentes soumissions afin de donner un avis sur les moyens de prévention que l’entreprise
            soumissionnaire projette de mettre en œuvre. Cette étape a pour objectif de favoriser l’attribution du
            chantier à une entreprise « orientée sécurité » plutôt qu’à une autre négligeant la sécurité et qui aura
            plus de chance d’avoir un incident, voire un accident.</p>
        <p>Enfin, le coordinateur a l’obligation de rédiger le Plan (Général) de Sécurité et Santé phase projet, dans
            lequel il décrira les mesures de prévention générales à respecter par l’entrepreneur lors du chantier. Il
            devra également ouvrir le Journal de Coordination et le Dossier d’Intervention Ultérieur, qui seront tenus à
            jour durant toute la durée du chantier, et remis en fin d’ouvrage. Ces documents devront être plus ou moins
            complets selon que le chantier soit supérieur ou inférieur à 500m², qu’il comporte des risques aggravés ou
            non,…</p>
        <p class="sous-titre-left">La phase réalisation :</p>
        <p>Il s’agit de coordonner les différentes activités et contrôler de manière régulière le suivi du chantier de
            manière à s’assurer que chaque intervenant respecte le Plan (Général) de Sécurité et Santé, travaille dans
            le cadre qui lui est imparti et qu’il ne mette pas la sécurité d’autrui en péril. Afin de prévenir au mieux
            les risques liés au chantier et aux différentes activités programmées, chaque intervenant devra remettre au
            coordinateur sécurité, et avant le début son activité, un Plan (Particulier) de Sécurité et Santé. Ce
            document reprendra les informations essentielles nécessaires au coordinateur pour la bonne exécution de sa
            mission à savoir, la date de commencement et la durée de l’intervention sur chantier, le nombre de
            travailleurs programmés, les coordonnées de l’entreprise et une « analyse de risque » spécifique à
            l’intervention. L’analyse de risque consiste, vulgairement, à segmenter l’activité d’une entreprise en une
            série d’étapes et d’identifier les différents risques inhérents à ces étapes. Une fois les risques
            identifiés, l’entrepreneur décrira les mesures et moyens de prévention qu’il mettra en place pour que son
            personnel puisse travailler de la manière la plus sécurisée possible.</p>
        <p>Sur base de ces documents et informations, le coordinateur fera des visites sur chantier afin de s’assurer
            que les mesures de prévention annoncées et exigées soient respectées. Il est important de rappeler que le
            coordinateur a un rôle de conseiller et non de gendarme. Les remarques formulées à l’égard de l’entrepreneur
            devront être respectées, et si ce n’était pas le cas, le maître d’ouvrage devra appuyer les recommandations
            du coordinateur, sous peine d’interrompre le contrat avec l’entrepreneur. En effet, en cas d’accident, le
            maître d’ouvrage pourrait être inquiété si celui-ci n’a pas pris de mesure particulière vis-à-vis de
            l’entrepreneur.</p>
        <p>Le coordinateur sécurité et santé aura également l’obligation de tenir à jour différents document. Tout
            d’abord, la mise à jour éventuelle ou la modification du Plan (Général) de Sécurité et Santé. Ensuite, il
            devra tenir à jour le Journal de Coordination et le Dossier d’Intervention Ultérieure.</p>
        <p>Selon les cas, il devra organiser et animer des structures de coordination, dont l’objectif est de rassembler
            autour de la table tous les intervenants du chantier et d’organiser au mieux la sécurité en tenant compte
            des contraintes et exigences de chacun.</p>
        <p class="sous-titre-left">Quels travaux sont concernés par la coordination sécurité et santé ?</p>
        <p class="texte">Une coordination est obligatoire pour les travaux repris ci-dessous et où deux entrepreneurs
            sont occupés simultanément ou successivement.</p>
        <p>1. Excavation<br>
            2. Terrassement<br>
            3. Fondation et renforcement<br>
            4. Hydrauliques<br>
            5. Voirie<br>
            6. Pose de conduites utilitaires (égouts, gaz, câbles électriques…) + intervention sur les conduites<br>
            7. Construction<br>
            8. Montage et démontage d’éléments préfabriqués<br>
            9. Aménagement et équipement<br>
            10. Transformation<br>
            11. Rénovation<br>
            12. Réparation<br>
            13. Démantèlement et démolition<br>
            14. Maintenance<br>
            15. Entretien, peinture, nettoyage<br>
            16. Assainissement<br>
            17. Finition (des travaux précités)</p>
        <p class="sous-titre-left">La coordination sécurité et santé dans la pratique.</p>
        <p>La sécurité sur chantier, c’est avant tout bon sens mais il va de soi que les règles et mesures de prévention
            sont réglementées par des lois, des arrêtés royaux, des conventions collectives de travail…</p>
        <p>Afin de pouvoir offrir une information détaillée et complète sur les obligations en terme de sécurité et
            santé de plusieurs domaines, vous trouverez ci-dessous toute une série de règlements relatifs aux risques
            les « courants » sur chantier :</p>
        <p>• Loi du 4 août 1996 relative au bien-être des travailleurs lors de l’exécution de leur travail (M.B.
            18.9.1996).<br>
            • Arrêté royal du 25 janvier 2001 concernant les chantiers temporaires ou mobiles (M.B. 7.2.2001)<br>
            • Arrêté royal du 16 mars 2006 relatif à la protection des travailleurs contre les risques liés à
            l’exposition à l’amiante (M.B. 23/3/2006)<br>
            • 31 AOUT 2005. – Arrêté royal relatif à l’utilisation des équipements de travail pour des travaux
            temporaires en hauteur</p>

    </mdb-tab>

    <!--Chantier-->
    <mdb-tab heading="Mission de coordination de chantier">
        <h3>Mission de coordination de chantier</h3>
        <p>En toute cohérence avec ses missions de coordination sécurité et santé sur chantier, Belor est également
            spécialisé dans la coordination de chantier.</p>
        <p>Cet aspect beaucoup plus technique s’organise sur les chantiers où interfèrent une multitude d’intervenants
            et où une coordination pointue est primordiale.</p>
        <p>Citons en exemple le Crowne Plaza de Liège, pour lequel toute une série de corps de métiers différents se
            succèdent pour la réalisation de cet espace de haut standing, où la gestion des plannings de chacun, de la
            chronologie des entrepreneurs, les imprévus… sont tant d’éléments avec lesquels Belor jongle aisément.</p>

    </mdb-tab>

    <!--Animateur sécurité-->
    <mdb-tab heading="Mission d'animateur sécurité sur chantier">
        <h3>Mission d'animateur sécurité sur chantier</h3>
        <p>Fort de son expérience dans le secteur de la sécurité des travailleurs, Belor remplit également des missions
            d’ « animateur de sécurité » sur chantiers. Ces missions sont régulièrement exercées dans le cadre de
            chantiers où l’entrepreneur général est une société momentanée (association de plusieurs entreprises pour la
            réalisation d’un chantier sous forme d’une seule entité juridique) et pour lesquels les risques encourus
            nécessitent la présence d’un « animateur de sécurité ».</p>
        <p class="texte"><span class="sous-titre">Rôle de l’Animateur de sécurité :</span></p>
        <p class="texte">La mission d’animateur de sécurité de chantier proposée par BELOR pour son personnel est la
            suivante :<br>
            Assister les responsables de travaux en matière d’hygiène et de sécurité, en priorité pour ce qui est de la
            prévention des accidents du travail et des maladies professionnelles sur le chantier en décidant, faisant
            respecter et actualisant les consignes et mesures d’hygiène et sécurité.</p>
        <p><span class="sous-titre">Tâches de l’Animateur de sécurité :</span></p>
        <p>A. Tâches de coordination</p>
        <p>• Accueil sécurité des personnels des entreprises extérieures, avec notamment une information sur les risques
            du chantier et ceux générés par la co-activité des entreprises sur le chantier, et communication des
            différentes consignes et procédures relatives aux situations d’urgence,<br>
            • Assistance à la direction du chantier pour l’harmonisation de plans de prévention et participation aux
            inspections et réunions préalables à l’exécution d’une opération,<br>
            • Vérification de la société d’appartenance des personnels de sous-traitants, et distribution des éléments
            d’identification (badges),<br>
            • Supervision du système de contrôle journalier des présences sur le chantier,<br>
            • Gestion des horaires exceptionnels en accord avec le gardiennage et la direction du chantier,<br>
            • Préparation et participation à la réunion hebdomadaire de sécurité avec toutes les entreprises extérieures
            présentes,<br>
            • Participation à la réunion quotidienne de chantier afin d’assurer la coordination journalière des
            dispositions touchant à l’hygiène et la sécurité,<br>
            • Vérification de la tenue à jour du registre d’entretien des équipements de travail des entreprises
            extérieures,<br>
            • Participation à l’établissement des enquêtes en cas d’accident ou quasi accident, avec analyse par la
            méthode de l’arbre des causes<br>
            • Mise en place et suivi de l’indicateur tableau de bord sécurité des entreprises extérieures,<br>
            • Aide à la mise en place et au suivi des premiers secours, de lutte contre l’incendie, d’évacuation et de
            gardiennage en collaboration avec le chef de chantier et le service sécurité du site,<br>
            • Aide à la mise en place et suivi des matériels de prévention : équipements de protection collective et
            individuelle, extincteurs, signalétique, tableau de sécurité,<br>
            • Préparation des courriers adressés aux entreprises extérieures concernant les manquements aux règles de
            sécurité,<br>
            • Participation à la mise en place et suivi de l’indice de sécurité des entreprises Extérieures</p>
        <p class="texte">B. Tâches de terrain</p>
        <p>• Application des mesures de prévention<br>
            • Assistance à la direction de chantier pour la supervision des opérations<br>
            • dangereuses<br>
            • Vérification et suivi des autorisations de travail et des procédures particulières<br>
            • de sécurité destinées aux entreprises<br>
            • Contrôle du respect des mesures collectives préconisées par le plan de prévention :<br>
            • Contrôle du port des équipements de protection individuelle,<br>
            • Vérification de l’ordre et de la propreté sur le chantier et dans la base vie,<br>
            • Vérification de la validité des documents réglementaires de contrôle des engins et des habilitations à les
            conduire,<br>
            • Vérification de la validité des certificats de conformité des installations électriques de chantier après
            contrôle par un organisme agréé<br>
            • Vérification des certificats de formation aux risques chimiques des intervenants si exigés,<br>
            • Information de la direction de chantier de toute infraction aux consignes de sécurité de la part du
            personnel des entreprises extérieures en vue d’un avertissement lors de la première infraction et/ou de
            l’exclusion de la personne en infraction pour la seconde fois<br>
            • Vérification de l’existence des affichages réglementaires sur le chantier et<br>
            • Assister les responsables de travaux en matière d’hygiène et de sécurité, en priorité pour ce qui est de
            la prévention des accidents du travail et des maladies professionnelles sur le chantier en décidant, faisant
            respecter etactualisant les consignes et mesures d’hygiène et sécurité<br>
            • Vérification de l’existence des affichages réglementaires sur le chantier et dans la base vie<br>
            • Et plus largement toute tâche qui concourt au bon accomplissement de la mission dans le respect de la
            réglementation, des normes et des règles de l’art.</p>


    </mdb-tab>
</mdb-tabset>
