.why{
    padding-top: 6em;
    padding-bottom: 6em;
}

h2 {
  color:white !important;
  font-size:2.5em !important;
  font-weight: 500 !important;
  
}

h5 {
  font-size:1.1em !important;
  color:#000076;
  
}


.box {
  position: relative;
  background: #ffffff25;
  cursor: pointer;
  border-radius: 25px !important;
}

svg{
  display: block ;
  margin:auto;
}







