<div class="container-fluid white">
    <div class="container">
        <h2 class="text-center">Prendre rendez-vous</h2>
        <div class="row">
            <div class="col-9 col-md-5 col-lg-4 mx-auto pb-3">
                <div class="box rounded py-3 zoom mx-auto">
                    <h5 class="mt-3 text-center">Par téléphone</h5>
                    <div class="row">
                        <button type="button" mdbBtn gradient="blue" rounded="true" data-wow-delay="1s"
                            class="mx-auto">Réservez en ligne<i class="ml-2 fas fa-caret-right"></i></button>
                    </div>

                </div>
            </div>
            <div class="col-9 col-md-5 col-lg-4 mx-auto pb-3">
                <div class="box rounded py-3 zoom mx-auto">
                    <h5 class="mt-3 text-center">Par mail</h5>
                    <div class="row">
                        <button type="button" mdbBtn gradient="blue" rounded="true" data-wow-delay="1s"
                            class="mx-auto">Réservez en ligne<i class="ml-2 fas fa-caret-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-9 col-md-5 col-lg-4 mx-auto pb-3">

                <div class="box rounded py-3 zoom mx-auto">
                    <h5 class="mt-3 text-center">En ligne</h5>
                    <div class="row">
                        <button type="button" mdbBtn gradient="blue" rounded="true" data-wow-delay="1s"
                            class="mx-auto">Réservez en
                            ligne<i class="ml-2 fas fa-caret-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>