
    <!--Section: Features v.3-->
    <section class="white">

        <!--Section heading-->
        <h2 class="h1-responsive text-center py-5 bleu">Prendre rendez-vous</h2>
        <!--Section description-->
        <p class="px-5 mb-5 pb-3 lead grey-text text-center">Pour vous, nous sommes disponibles et flexibles</p>

        <!--Grid row-->
        <div class="row pt-2">

            <!--Grid column-->
            <div class="col-lg-6 text-center text-lg-left ">
                <img src="../assets/img/rdv.webp" alt="rendez-vous contrôle Belor" class="img-fluid z-depth-0">
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6">

                <!--Grid row-->
                <div class="row pb-3">
                    <div class="col-2 col-md-1">
                        <div>
                            <mdb-icon far icon="envelope" size="lg" class="indigo-text"></mdb-icon>
                        </div>
                    </div>
                    <div class="col-10">
                        <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Par mail</h5>
                        <p class="dark-grey-text text-left mt-4">
                            <button type="button" mdbBtn gradient="blue" rounded="true" data-wow-delay="1s"
                                class="mx-auto">Nous écrire<i class="ml-2 fas fa-caret-right"></i></button>

                        </p>
                        <p class="grey-text text-left">Simple & efficace comme nos contrôles</p>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row pb-3">
                    <div class="col-2 col-md-1">
                        <mdb-icon fas icon="mobile-alt" size="lg" class="indigo-text"></mdb-icon>
                    </div>
                    <div class="col-10">
                        <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Par téléphone</h5>
                        <p class="dark-grey-text text-left mt-4">
                            <button type="button" mdbBtn gradient="blue" rounded="true" data-wow-delay="1s"
                                class="text-left">Nous téléphoner<i class="ml-2 fas fa-caret-right"></i></button>
                        </p>
                        <p class="grey-text text-left">Tout aussi simple et plus humain encore, tout comme nos employés
                        </p>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row pb-3">
                    <div class="col-2 col-md-1">
                        <mdb-icon fas icon="desktop" size="lg" class="indigo-text"></mdb-icon>
                    </div>
                    <div class="col-10">
                        <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Réserver en ligne</h5>
                        <p class="dark-grey-text text-left mt-4">
                            <button type="button" mdbBtn gradient="blue" rounded="true" data-wow-delay="1s"
                                class="mx-auto">Prendre rdv ici<i class="ml-2 fas fa-caret-right"></i></button>
                        </p>
                        <p class="grey-text text-left">Vous êtes pressés ? Alors choisissez pour cet option</p>
                    </div>
                </div>
                <!--Grid row-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Features v.3-->