.why{
    padding-top: 6em;
    padding-bottom: 6em;
}

h2 {
  font-size: 1.9em !important;
}


.box {
  position: relative;
  background: #ffffff25;
  cursor: pointer;
  border-radius: 25px !important;
}
