.fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}
 @media (max-width: 768px) {
    .fixed-top{
        background-color: #fff !important;
    }
}

.nav-link{
    color: white !important;
    font-size: 1em;
}

.nav-item{
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    cursor: pointer;
}

.nav-item:active{
    outline: none;
}

.nav-item:hover{
    background-color: rgba(102, 102, 102, 0.15);
    color: white !important;
}

.nav-link.scrolled{
    color: #5d4267 !important;
}

.active{
    font-weight: 700;
}

.logo{
    max-height: 85px;
    margin-left: 2.5em;
}

.nav-colored {
    background-color:#000;
}

.nav-transparent {
    background-color:transparent;
}

.dropdown-menu{
    background-color: white !important;
}