.navbar {
  background: linear-gradient(40deg, rgba(0,51,199,.3), rgba(209,149,249,.3));
}

.navbar:not(.top-nav-collapse) {
  background: transparent;
}

.logo{
  max-height: 85px;
  margin-left: 3em;
}