.circle.validated{
    background-color: green !important;
}

.label{
    color:black !important;
}

.label.validated{
    color: green !important;
}

li.validated::after{
    color: greenyellow !important;
    background-color: green !important;
}

li.validatedBefore::before{
    background-color: green!important;
}
