.circle.validated{
    background-color: #3a51a1 !important;
}

.label.validated{
    color: #3a51a1 !important;
}

li.validated::after{
    color: #3a51a1 !important;
    background-color: #3a51a1 !important;
}

li.validatedBefore::before{
    background-color: #3a51a1 !important;
}
