.circle.validated{
    background-color: green !important;
}

.label{
    color:white !important;
}

.label.validated{
    color: green !important;
}

li.validated::after{
    color: greenyellow !important;
    background-color: green !important;
}

li.validatedBefore::before{
    background-color: green!important;
}

h2{
    font-size: 2.5em !important;
    padding-top: 3em;
}
