<section class="control py-5 wow fadeIn">
  <div class="row mx-0 px-0">
    <div class="col-12">
      <h3 class="text-center heading text-white">Un contrôle Belor chez vous ? C'est facile.</h3>
      <h4 class="text-center heading text-white">Pour professionnels et particuliers</h4>
    </div>
    <div class="col-5 mx-auto md-form input-group">
      <div class="input-group mb-3">
        <button mdbBtn gradient="blue" rounded="true" size="md" class="m-0 px-5 mx-auto" type="button"
          id="button-addon2" mdbWavesEffect>Introduisez votre demande<i class="ml-2 fas fa-caret-right"></i> </button>
      </div>

    </div>
    <div class="col-12">
      <h5 class="text-center text-white">Belor est accrédité par<img src="/assets/img/belac.jpg" class="belac"><a
          href="/assets/pdf/355-INSP-12 F-N.pdf" class="accreditation" target="_blank">certificat d'inspection n°355 -
          INSP</a></h5>
    </div>
  </div>

  <!--Cards pour écran lg-->
  <div class="row col-lg-12 col-xl-11 mx-auto mt-5 d-none d-lg-block">
    <div class="row">
      <mdb-card cascade="true" *ngFor="let card of cardsServices" narrower="true" class="col-3 mx-auto"
        (click)="scroll('', card.link)">
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="{{card.img}}"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->


        <!--Button-->
        <a mdbBtn floating="true" gradient="blue"
          class="btn-action ml-auto mr-4 mdb-color lighten-3 waves-light rotateHover" mdbWavesEffect>
          <mdb-icon fas icon="chevron-right" class="pl-1 waves-light" mdbWavesEffect>
          </mdb-icon>
        </a>


        <mdb-card-body cascade="true" class="text-center pb-0 px-0">
          <!--Title-->
          <h3 class="card-title bleu">{{card.title}}</h3>
          <hr class="text-light">
          <!--Text-->

          <mdb-card-text>
            <p class="font-small mb-0">{{card.body}}</p>
          </mdb-card-text>



        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->
    </div>
  </div>

  <mdb-carousel [animation]="'slide'" class="col-12 mx-auto d-lg-none " [interval]="'0'">
    <mdb-carousel-item *ngFor="let card of cardsServices" narrower="true">
      <mdb-card class="col-9 mx-auto">
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="{{card.img}}"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->


        <!--Button-->
        <a mdbBtn floating="true" gradient="blue"
          class="btn-action ml-auto mr-4 mdb-color lighten-3 waves-light rotateHover" mdbWavesEffect>
          <mdb-icon fas icon="chevron-right" class="pl-1 waves-light" mdbWavesEffect>
          </mdb-icon>
        </a>


        <mdb-card-body cascade="true" class="text-center pb-0 px-0">
          <!--Title-->
          <h3 class="card-title bleu">{{card.title}}</h3>
          <hr class="text-light">
          <!--Text-->

          <mdb-card-text>
            <p class="font-small mb-0">{{card.body}}</p>
          </mdb-card-text>



        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->
    </mdb-carousel-item>
  </mdb-carousel>

</section>