
<!-- Section: Contact v.2 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Contactez-nous</h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto mb-5">N'hésitez pas à nous poser vos questions, nous vous répondrons dans les plus brefs délais. Informations PEB, techniques, etc.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-9 mb-md-0 mb-5">

      <form>

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="contact-name" class="form-control" mdbInput>
              <label for="contact-name" class="">Nom</label>
            </div>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="contact-email" class="form-control" mdbInput>
              <label for="contact-email" class="">Email</label>
            </div>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-12">
            <div class="md-form mb-0">
              <input type="text" id="contact-Subject" class="form-control" mdbInput>
              <label for="contact-Subject" class="">Sujet</label>
            </div>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-12">
            <div class="md-form">
              <textarea type="text" id="contact-message" class="form-control md-textarea" rows="3"
                mdbInput></textarea>
              <label for="contact-message">Ton message</label>
            </div>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </form>

      <div class="text-center text-md-left">
        <a mdbBtn color="primary" mdbWavesEffect>Envoyer</a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3 text-center">
      <ul class="list-unstyled mb-0">
        <li>
          <mdb-icon fas icon="map-marked" size="2x" class="blue-text"></mdb-icon>
          <p>Jodoigne : Rue de Fonteny, 20 - 1370 Jodoigne (Siège social)</p>
        </li>
        <li>
          <mdb-icon fas icon="phone" size="2x" class="mt-4 blue-text"></mdb-icon>
          <p>010/45.41.06</p><br><p> 0470/990.212</p>
        </li>
        <li>
          <mdb-icon fas icon="envelope" size="2x" class="mt-4 blue-text"></mdb-icon>
          <p class="mb-0">info@belor.be</p>
        </li>
      </ul>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Contact v.2 -->
