<!-- Section: Contact v.2 -->
<section class="py-5">
  <div class="container">
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center">Contactez-nous</h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">N'hésitez pas à nous poser vos questions, nous vous répondrons dans
      les plus brefs délais. Informations PEB, techniques, etc.</p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-8 mb-md-0 mb-5 white ml-n5 rounded">

        <form>

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="contact-name" class="form-control" mdbInput>
                <label for="contact-name" class="">Nom</label>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="contact-email" class="form-control" mdbInput>
                <label for="contact-email" class="">Email</label>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form mb-0">
                <input type="text" id="contact-Subject" class="form-control" mdbInput>
                <label for="contact-Subject" class="">Sujet</label>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form">
                <textarea type="text" id="contact-message" class="form-control md-textarea" rows="3"
                  mdbInput></textarea>
                <label for="contact-message">Ton message</label>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </form>

        <div class="text-center text-md-left">
          <a mdbBtn color="primary" mdbWavesEffect>Envoyer</a>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 text-center ml-5 white py-5 rounded">
        <ul class="list-unstyled mb-0">
          <li>
            <mdb-icon fas icon="map-marked" size="2x" class="blue-text"></mdb-icon>
            <ul class="list-unstyled adresses">
              <li>1370 Jodoigne - Rue de Fonteny, 20</li>
              <li>1330 Rixensart - Rue des bleuets, 6</li>
              <li>1480 Saintes - Rue Julien Marsille, 170</li>
              <li>1400 Nivelles - Chaussée de Charleroi, 2</li>
            </ul>
          </li>
          <li>
            <div class="row justify-content-center mt-4">
              <div class="col-4">
                <mdb-icon fas icon="phone" size="2x" class="mt-0 pt-0 blue-text"></mdb-icon>
                <p class="pb-0 mb-0">010/45.41.06</p><br>
              </div>
              <div class="col-4">
                <mdb-icon fas icon="mobile-alt" size="2x" class="mt-0 pt-0 blue-text"></mdb-icon>
                <p> 0470/990.212</p>
              </div>
            </div>
          </li>
          <li>
            <mdb-icon fas icon="envelope" size="2x" class="mt-1 blue-text"></mdb-icon>
            <p class="mb-0">info@belor.be</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
  </div>

</section>
<!-- Section: Contact v.2 -->