h2 {
  color: white ;
  font-style: italic;
  font-size: 1.2em !important;
}

h1{
  margin-top: 5em !important;
  color: #07097B
  ;
}

.adresses{
  text-align-last:justify;
  margin-right: 0.8em;
  margin-left: 0.8em;
}

.bg {
  border-radius: 20px !important;
}




