<!-- Intro -->
<section class="container-fluid mb-5 py-5">

    <div class="row">

        <div class="col-10 col-lg-6 text-white py-auto">

            <div class="d-flex flex-column justify-content-center align-items-center h-100 ml-5">
                <h1 class="mr-auto">Organisme de contrôle agréé et accrédité.</h1>
                <h2 class="mr-auto mt-3">Des professionnels de la sécurité à votre service !
                </h2>
                <div class="mr-auto">
                    <button mdbBtn type="button" rounded="true" class="orange darken-3 wow fadeIn ml-n1 text-white mt-5"
                        data-wow-delay="1s">Nous contacter<i class="ml-2 fas fa-caret-right"></i></button>
                </div>
            </div>

        </div>


        <div class="col-lg-5 ml-auto d-none d-lg-block">
            <img src="assets/img/logo.gif" class="col-12 mt-5 pt-5" alt="belor, organisme de contrôle">
        </div>

    </div>

</section>
