<!-- Intro -->
<section class="full-height container-fluid intro">

    <div class="row full-height">

        <div class="col-md-4 text-white">

            <div class="d-flex flex-column justify-content-center align-items-center h-100 ml-5">
                <h1>Organisme de Contrôle Agréé et Accrédité.</h1>
                <h2 class="mr-auto mt-3">Des professionnels de la sécurité à votre service
                </h2>
                <div class="mr-auto">
                    <button mdbBtn type="button" rounded="true" class="orange darken-3 wow fadeIn ml-n1 text-white"
                        data-wow-delay="1s">Nous contacter<i class="ml-2 fas fa-caret-right"></i></button>
                </div>
            </div>

        </div>


        <div class="col-md-6 full-height">
            <img src="assets/img/electric.gif" class="col-12 mt-5 pt-5" alt="belor, organisme de contrôle">
        </div>

    </div>

</section>
