.nav-tabs{
    padding-top: 10em !important;
}


h3 {
  text-decoration: underline;
  color: #000076;
}

.red {
  background-color: #040679 !important;
}

::ng-deep.ul.nav.md-tabs.tabs-3.blue{
  background-color: #040679 !important;
}