/* Required for full background image */

html,
body,
header,
.view {
  min-height: 100vh;
}


@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1100px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 700px;
  }
}

.top-nav-collapse {
  background-color: #39448c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #39448c !important;
  }
}

h6 {
  line-height: 1.7;
}

.rouge {
  text-decoration: underline;
  text-decoration-color: red;
}

.bleu {
  color: #000076;
}

.top {
  margin-top: 3em;
}

.bg {
  background: rgb(57,80,161);
  background: linear-gradient(108deg, rgba(57,80,161,1) 0%, rgba(63,111,167,1) 49%);}
