<!-- Main navigation -->
<section>
  <!--Navbar-->
  <!-- Navbar -->
  <!-- Mask & flexbox options-->
  <div class=" d-flex justify-content-center align-items-center">
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row pt-lg-5 mt-lg-5">
        <!--Grid column-->
        <div class="container my-5 py-5 white-text">
          <div class="col-7">
            <h1 class="display-5 font-weight-bold bleu rouge">Formations</h1>
            <h2 class="display-5 font-weight-bold">Protection des travailleurs contre les risques électriques</h2>
          </div>
          <p class="col-9 pt-3">
            L’électricité est un facteur de risque important qui a la propriété ou la capacité de causer un dommage.
            Un facteur de risque n’existe que dans la mesure ou le travailleur y est exposé et n’a pas l’habilitation
            BA4 ou BA5 pour intervenir sur une installation électrique.
          </p>

        </div>
      </div>
      <div class="row">
        <!--Grid column-->
        <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft"
          data-wow-delay="0.3s">
          <h1 class="display-5 font-weight-bold">BA5</h1>
          <hr class="hr-light">
          <h6 class="mb-3"> Identifier les risques électriques et de prendre les mesures qui s'imposent afin d'afin
            d'éliminer le risque
            et d'utiliser les équipements de protection individuel pour se protèger contre les contacts directs lors
            d'une
            intervention sur une
            installation électrique sous tension.</h6>
          <div>
            <h1 class="display-4 font-weight-bold">BA4</h1>
            <hr class="hr-light">
            <h6 class="mb-3"> Identifier les risques électriques et prendre les mesures qui s'imposent afin de
              travailler
              en sécurité & utiliser les équipements de protection individuelle (EPI).</h6>

          </div>


        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-6 col-xl-6 mb-4">
          <!--Form-->
          <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
            <mdb-card-body class="z-depth-2">
              <!--Header-->
              <div class="text-center">
                <h3 class="dark-grey-text">
                  <strong>Demande de formation</strong>
                </h3>
                <hr>
              </div>
              <!--Body-->
              <div class="md-form">
                <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
                <input type="text" id="form3" class="form-control" mdbInput>
                <label for="form3">Votre nom</label>
              </div>
              <div class="md-form">
                <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
                <input type="text" id="form2" class="form-control" mdbInput>
                <label for="form2">Votre email</label>
              </div>
              <!--Textarea with icon prefix-->
              <div class="md-form ">
                <mdb-icon fas icon="pencil-alt" class="prefix grey-text"></mdb-icon>
                <textarea type="text" id="form8" class="md-textarea form-control" mdbInput></textarea>
                <label for="form8">Votre demande</label>
              </div>
              <div class="text-center mt-3">
                <button mdbBtn gradient="blue" rounded="true" size="md" class="m-0 px-5" type="button"
                  id="button-addon2" mdbWavesEffect>Envoyer</button>
                <hr>
              </div>
            </mdb-card-body>
          </mdb-card>
          <!--/.Form-->
        </div>
      </div>
      <div class="white-text top">
        <h1 class="display-4 font-weight-bold bleu rouge">Base réglementaire</h1>

        <p class="top">L’article 47 du R.G.I.E. donne la définition d’un certain nombre de notions&nbsp;:</p>
        <ul>
          <li>des notions en rapport avec les codes «BA» (compétence des personnes) et «BC» (contact des
            personnes avec le potentiel de la terre);</li>
          <li>des notions en rapport avec les lieux et parties de lieux (local, emplacement clôturé, lieu
            du service électrique, emplacements de service, emplacements d’entretien, ouverture fonctionnelle et lieu
            ordinaire).</li>
        </ul>
        <p>En ce qui concerne l’attribution de la codification BA4&nbsp;/&nbsp;BA5, l’A.R. du 25 avril
          2004 fixe les conditions en les décrivant largement. L’employeur attribue ces compétences et les définit dans
          un document détaillé; l’employeur est également tenu de:</p>
        <ul>
          <li>veiller à ce que la personne concernée reçoive une formation suffisante et adéquate,</li>
          <li>prendre en considération la compétence des personnes concernées lorsqu’elles sont chargées
            de l’exécution d’un travail à une installation électrique</li>
          <li>contrôler si la répartition des tâches est faite de telle façon que les divers travaux à une
            installation électrique sont exécutés par des personnes ayant ou ayant maintenu la compétence exigée et qui
            ont reçu la formation et les instructions exigées.</li>
        </ul>
        <h5 class="font-weight-bold">Personnes concernées</h5>
        <p class="font-weight-bold">BA4</p>
          <p>Personnes qui sont suffisamment informées ou surveillées par des personnes qualifiées pour éviter les dangers
          des risques les dangers que représente les installations électriques.</p>
        <p class="font-weight-bold">BA5</p>
        <p>  Personnes qui sont suffisamment informées des risques liés à l’électricité pour les travaux qui leurs sont
          confiés&nbsp;: Techniciens de maintenance et d’intervention
          Personnes qui, par leurs connaissances acquises par formation ou par expérience, peuvent évaluer elles-mêmes
          les risques liés aux travaux à exécuter et peuvent déterminer les mesures à prendre pour éliminer ou limiter
          au minimum les risques spécifiques y afférents</p>
        <h5 class="font-weight-bold">&nbsp;Analyse des risques électriques</h5>
        <p>Bien des cas d’accident surviennent sur des installations restées sous tension, ou non
          complètement consignées. L’analyse des causes de ces accidents montre, généralement qu’une étude préalable
          aurait permis la mise hors tension complète de la zone concernée. C’est pourquoi les opérations doivent être
          effectuées, chaque fois que c’est possible, hors tension. Les travaux peuvent être effectués sous tension
          lorsque les conditions d’exploitation rendent dangereuse ou impossible la mise hors tension ou si la nature du
          travail requiert la présence de la tension. Dans ce cas, les travailleurs doivent avoir reçu une formation
          spécifique et doivent posséder une habilitation particulière. Ils doivent également avoir reçu une instruction
          de service qui indique les prescriptions à respecter.(article 266 du R.G.I.E)</p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Content -->
</section>
<!-- Main navigation -->
