.bg{
  background-color: white !important;
}

h1 {
  color: #000076;
}

h2{
font-size: 1em;

}

p {
  color:#F2F3F4;
}

img {
  max-width: 20%;
}

.transparent{
  background-color: transparent !important;
}
