<section class="controls py-5 text-center wow fadeIn" data-wow-offset="10">
    <h2 class="heading display-4">Nos contrôles Belor</h2>
    <h3 class="subheading pb-5">Professionnels & rapides</h3>

    <div class="row col-8 mx-auto text-white">

        <div *ngFor="let feature of controlsFeatures | slice:0:3 " class="col-md-3 mx-auto view">
            <mdb-icon fas icon="{{feature.icon}}" size="3x" class="red-text"></mdb-icon>
            <h5 class="font-weight-bold mt-3">{{feature.title}}</h5>
            <p class="text-justify">{{feature.body}}</p>
        </div>

    </div>

    <div class="row col-8 mx-auto text-white">

        <div *ngFor="let feature of controlsFeatures | slice:3:6 " class="col-md-3 mx-auto">
            <mdb-icon fas icon="{{feature.icon}}" size="3x" class="red-text"></mdb-icon>
            <h5 class="font-weight-bold mt-3">{{feature.title}}</h5>
            <p class="text-justify">{{feature.body}}</p>
        </div>

    </div>

</section>