<section class="bg controls py-5 text-center wow fadeIn" data-wow-offset="10">
    <h1>Nos contrôles Belor</h1>
    <h2>Professionnels & rapides</h2>

    <div class="row col-8 mx-auto text-black">

        <div *ngFor="let feature of controlsFeatures | slice:0:3 " class="col-md-3 mx-auto view">
            <img src='{{feature.img}}' class="img-fluid" alt="Service Belor, organisme de contrôle">
            <h5 class="bleu font-weight-bold mt-3">{{feature.title}}</h5>
            <p class="text-justify">{{feature.body}}</p>
        </div>

    </div>

    <div class="row col-8 mx-auto text-black">

        <div *ngFor="let feature of controlsFeatures | slice:3:6 " class="col-md-3 mx-auto">
            <img src='{{feature.img}}' class="img-fluid" alt="Service Belor, organisme de contrôle">
            <h5 class="bleu font-weight-bold mt-3">{{feature.title}}</h5>
            <p class="text-justify">{{feature.body}}</p>
        </div>

    </div>

</section>
