.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.bg {
background-color: linear-gradient(90deg, rgba(92,36,132,1) 0%, rgba(53,33,135,1) 35%) !important;
}


p {
  color:#F2F3F4
}
