html, body{
    height:100%;
}

.full-height {
    min-height: 100%;
}

@import "~ng-uikit-pro-standard/assets/scss/core/colors";
@import "~ng-uikit-pro-standard/assets/scss/core/variables";
@import "~ng-uikit-pro-standard/assets/scss/core/variables-pro";

@import "~ng-uikit-pro-standard/assets/scss/sections-pro/_contacts-pro.scss";


/*Headings*/
.heading {
    font-weight: 700;
    color: #5d4267;
}
.subheading {
    color: #bcb2c0;
}
.subsubheading {
    color: grey;
}


.rotateHover:hover{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
/*background*/
.bg-purple {
    background: linear-gradient(#851E8A, #4C1E9E);
}

.bg {
  background: rgb(57,80,161) !important;
  background: linear-gradient(108deg, rgba(57,80,161,1) 0%, rgba(63,111,167,1) 49%) !important;
}

/*titres*/
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.2em !important;
}

h3 {
  font-size: 2em !important;

}

h4 {
  font-size: 0.9em !important;
}

/*Boutons*/
button {
  font-size: 0.7em  !important;
}


/*belor couleur*/
.rouge {
  text-decoration: underline;
  text-decoration-color: red;
}

.bleu {
  color: #000076;
}

/*Fucking autocomplete couleur normale*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
  
