html, body{
    height:100%;
}

.full-height {
    height: 100%;
}


/*Headings*/
.heading {
    font-weight: 700;
    color: #5d4267;
}
.subheading {
    color: #bcb2c0;
}
.subsubheading {
    color: grey;
}