.selected{
    border-color: #3aa150 !important;
}

button {
    font-size: 0.8em !important;
    border-width: 0.2em !important;
    height: 4em !important
}

button.selected{
    font-weight: 700 !important;
    border-color: #00c851 !important;
}

h2{
    font-size: 1.6em !important;
    color:black;
    font-weight: 400;
}