.selected{
    border-color: #3aa150 !important;
}

button {
    font-size: 0.8em !important;
    border-width: 0.2em !important;
    height: 4em !important;
    color: white;
}

button:hover { 
    color: #b8d3f1!important;
    border-color: #b8d3f1 !important;
}

button.selected{
    font-weight: 700 !important;
    border-color: #00c851 !important;
}

h2{
    font-size: 1.6em !important;
    color:black;
    font-weight: 400;
}

.formulaire{
    border-radius: 25px;
    background-color: rgba(47, 48, 48, 0.250 ) !important;
}


