.selected{
    border-color: #3a51a1 !important;
}

button {
    font-size: 0.9em !important;
    border-radius: 30px !important;
    background-color: white !important;
    border-width: 0.3em !important;
    height: 5.5em !important
}

button.selected{
    font-weight: 700 !important;
    border-color: #00c851 !important;
}

h2{
    font-size: 1.8em !important;
}