.bg-svg {
  background-image: url(/assets/svg/bg.svg) !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background-position: 80% 10%;
  background-size: cover;
}

/*buttons*/
button {
  font-size: 0.7em  !important;
  margin-top: 5em !important;
}
